*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}
.cabeza , .menu {
    background-image: url(../assets/fondoWEB.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
}
.cabeza{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}


header{
    margin-bottom: 15px;
    display: grid;
}
.logoTitulo {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
section.logoTitulo a h1 {
    font-family: 'Cinzel', serif;   
    background-image: url(../assets/fondoWEB.webp);
    width: 100%;
    height: 100%;
    color: black;
    display: block;
    padding: 15px;
    margin: 0px;
    text-decoration: none;
}
@media (min-width: ) {
    
}
.logoTitulo a:hover h1 {
    background-image: url(../assets/White_Background.jpg);
    text-decoration: none;
    color: black;
}
.enviosGratis {
    text-align: center;
    text-transform: uppercase;
}
/* .......BARRA DE NAVEGACION ........*/
.menu {
    background-color:#000;
    height: 100%;
    width: 100%;
    padding-right: 20px;

    /* margin-bottom: 45px; */
}
.menu ul{
    display: grid;
    color: rgb(255, 255, 255);
    text-decoration: none;
    grid-template-columns: repeat(4, 1fr);
}
.menu ul li {
    list-style: none;
    background-image: url(../assets/fondoWEB.webp);
    align-items: center;

}


.menu ul li a:hover {
    /* background-color:rgb(135, 123, 123); */
    transform: rotate(358deg);
}
svg {
   float: right;
   align-items: center;
   margin-right: 15px;
   margin-top: 15px;
}
.ig{
    align-items: center;
    margin-bottom: 5px;
}
main {
    display: grid;
    grid-area: 2 / 1 / 2 / 4;
}
.seccionMedia{
    display: grid;
    grid-area: c;
    color: black;
    text-transform: uppercase;
    font-size: 28px;
    background-image: url(../assets/fondoWEB.webp);
    font-family: 'Cinzel', serif;


    /* justify== movimiento horizontal(eje X) */
    /* align== movimiento vertical(eje Y) */


}

.esloganMarca {
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}
form {
   width: 25%;
   border: 1px solid #ccc;
   margin: 20px; 
   padding: 20px;
}

label {
    font-size: 12px;
    display: block;
    width: 100%;
}
textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}
input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
input:focus, textarea:focus {
    border: 1px solid #1668C4;

}
input[type="submit"] {
    margin-bottom: 0px;
    background: #1668C4;
    color: #FFF;
    border: none;
}
input[type="submit"]:hover {
    background: #4A8FF4;
    cursor: pointer;
    
}
.piePagina {
    text-align: center;
    /* margin-top: 200px; */
}